@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: local('Paytone One'), local('PaytoneOne'), url(paytone-one.woff) format('woff');
}

div {
	font-family: 'Paytone One', sans-serif;
  text-rendering: optimizelegibility;
}

@media screen
{

	#configuration {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 280px;
		background: #f0f0f0;
		border-right: 1px solid #c0c0c0;
		padding: 10px;
	}

	#configuration .textarea-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 120;
		bottom: 0;
		padding: 10px;
	}

	#configuration .print {
		float: right;
	}

	#configuration textarea {
		width: 100%;
		height: 100%;
	}

	#output-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 310;
		right: 0;
		padding: 10px;
	}

	.person { float: left; margin: 10px; }
	.person { box-shadow:         2px 2px 9px rgba(50, 50, 50, 0.75); }
	.person { height: 135px; width: 210px; border: 1px solid #ccc;}
	.person .number { font-size: 90px; line-height: 110px; }
	.person .name { font-size: 11px; line-height: 30px; white-space:nowrap; overflow:hidden; }
	.person { position: relative; }
	.person img { position: absolute; top: 5px; left: 5px; width: 50px }
	.person .number { text-align: center; vertical-align: middle; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }
	.person .name { text-align: center; position: absolute; width: 100%; bottom: 7px; left: 0; }

	#output { position: relative; }
	.clear { clear: both; height: 10px; }
}

@media print
{
	#configuration { display: none; }

	.person { height: 13cm; }
	.person .number { font-size: 9cm; line-height: 10.5cm; }
	.person .name { font-size: 1.1cm; line-height: 3cm; white-space:nowrap; overflow:hidden; }

	.page { margin: 0cm; }
	.page { page-break-after: always; }
	.page .person:first-child { border-bottom: 1px solid #999; }

	.person { position: relative; }
	.person img { position: absolute; top: 0.5cm; left: 0.5cm; width: 5cm; }
	.person .number { text-align: center; vertical-align: middle; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }
	.person .name { text-align: center; position: absolute; width: 100%; bottom: 0.7cm; left: 0; }

	#output-wrapper .clear { display: none; }
}
